@model ProyectoFinal_ActivosFijos.Models.TableViewModel.RepuestosTableViewModel
@{
    ViewBag.Title = "Add Repuesto";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // Utiliza el diseño específico para administración
}
<style>
    body {
        background-color: white;
        text-decoration: none;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    .container-add {
        margin-top: 20px;
        padding: 20px;      
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 5px;
        /*padding: 10px*/;
    }

    input[type="submit"],
    input[type="button"] {
        display: inline-block;
        width: fit-content;
        padding: 12px 28px;
        border:  2px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        input[type="submit"].btn-primary {
            background-color: #898989;
            color: white;
        }

            input[type="submit"].btn-primary:hover {
                background-color: #6f6f6f;
                color: white;
            }

        input[type="button"].btn-outline-danger {
            /*background-color: transparent;*/
            border: 2px solid #f70a0a;
            /*color: #dc3545;*/
        }

            input[type="button"].btn-outline-danger:hover {
                background-color: #a30606;
                color: white;
            }
</style>

<h2>Agregar un nuevo Repuesto</h2>

<div class="container-add">
    @using (Html.BeginForm("Add", "Repuesto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })

                </div><div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Anio, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Anio, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(model => model.Anio, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CantidadEnStock, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CantidadEnStock, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    @Html.ValidationMessageFor(model => model.CantidadEnStock, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Imagen1, "Imagen")
                    <input type="file" name="ImagenFile" id="ImagenFile" class="form-control" onchange="previewImage(this, 'previewImagen')" />
                    <img id="previewImagen" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Imagen2, "Imagen2")
                    <input type="file" name="ImagenFile2" id="ImagenFile2" class="form-control" onchange="previewImage(this, 'previewImagen2')" />
                    <img id="previewImagen2" style="max-width: 200px; max-height: 200px; margin-top: 10px;" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Agregar" class="btn btn-primary" />
                    <input type="button" class="btn btn-outline-danger" value="Regresar" onclick="document.location.href = '@Url.Content("~/Repuesto/Index")'" />
                </div>
            </div>
        </div>


     }
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function previewImage(input, previewId) {
        var preview = document.getElementById(previewId);
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
