@model  List<ProyectoFinal_ActivosFijos.Models.TableViewModel.UsuariosTableViewModel>
@{
    ViewBag.Title = "Add Usuario";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-4">

    <h2 class="mb-4">Lista de Usuarios</h2>

    <a class="btn btn-success mb-4" href="@Url.Action("Add")">Agregar</a>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>TipoDeUsuario</th>
                    <th>Sexo</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Usuarios in Model)
                {
                    <tr>
                        <td hidden>@Usuarios.Id</td>

                        <td>@Usuarios.Cedula</td>
                        <td>@Usuarios.Nombre</td>
                        <td>@Usuarios.PrimerApellido</td>
                        <td>@Usuarios.SegundoApellido</td>
                        <td>@Usuarios.Edad</td>
                        <td>@Usuarios.Telefono</td>
                        <td>@Usuarios.Correo</td>
                        <td>@Usuarios.Direccion</td>
                        <td>@Usuarios.TipoDeUsuario</td>
                        <td>@Usuarios.Sexo</td>
                        <td>
                            <button class="btn btn-warning" onclick="document.location.href = '@Url.Content("~/Usuario/Edit/")@Usuarios.Id'">Editar</button>
                            <button class="btn btn-danger" onclick="document.location.href = '@Url.Content("~/Usuario/Delete/")@Usuarios.Id'"> Borrar </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a href="@Url.Action("Index", "Carros")" class="btn btn-success">Regresar al menú principal</a>


<script>
        function Delete(Id) {
            if (confirm("Desea eliminar el registro?")) {
                let url = "@Url.Content("~/Usuario/Delete/")" + Id;

                $.post(url, function (respuesta) {
                    if (respuesta === "200") {
                        document.location.href = "@Url.Content("~/Usuario/Index")";
                        alert("Registro borrado exitosamente");
                    } else {
                        alert("Ocurrio un error al borrar " + respuesta)
                    }
                })
            }
        }
</script>
