@model ProyectoFinal_ActivosFijos.Models.ViewModel.UsuariosViewModel
@{
    ViewBag.Title = "Create";
}

<html>
<head>
    <title>Registro de Usuario</title>

    <style>
        body {
            background-image: url('/images/BackgroundToyota.jpg');
            background-size: cover;
            background-position: center;
            background-color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .background-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 25px;
        }

        .form-container {
          
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .5);
            border-radius: 20px;
            backdrop-filter: blur(20px);
            text-align: center;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            padding: 30px;
            width: 100%;
        }

            .form-container h2 {
                margin-bottom: 20px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-align: center;
                color: white;
            }

        .form-control {
            margin-bottom: 15px;
        }

        .text-danger {
            margin-bottom: 15px;
        }

        .boton-IS, .boton-RG {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .boton-IS {
            background-color: #898989;
            color: white;
        }

            .boton-IS:hover {
                background-color: #6f6f6f;
            }

        .boton-RG {
            background-color: #898989;
            color: white;
        }

            .boton-RG:hover {
                background-color: #6f6f6f;
            }
    </style>


</head>
<body style="background-color: #0d6efd;">
    @if (TempData["Mensaje"] != null)
    {
        <script>
            alert('@TempData["Mensaje"]');
            TempData["Mensaje"] = null;
        </script>
    }

    @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "needs-validation", id = "mainForm" }))
    {
        <div class="background-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container form-container" style="color: white;">
                        <h2 style="display: flex; justify-content: center">Crear una cuenta</h2>
                        <div id="paso1" class="form-step-active" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">

                            @Html.TextBoxFor(Model => Model.Cedula, null, new { @class = "form-control", placeholder = "Cédula", required = "required" })
                            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.Nombre, null, new { @class = "form-control", placeholder = "Nombre", required = "required" })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.PrimerApellido, null, new { @class = "form-control", placeholder = "Primer Apellido", required = "required" })
                            @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.SegundoApellido, null, new { @class = "form-control", placeholder = "Segundo Apellido", required = "required" })
                            @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.Edad, null, new { @class = "form-control", placeholder = "Edad", required = "required" })
                            @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <select id="GenderTypeDropdown" name="Sexo" class="form-control" data-val="true" data-val-required="Género obligatorio" required="required">
                                    <option value="" selected>-- Elegir Género --</option>
                                    <option value="F">Femenino</option>
                                    <option value="M">Masculino</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                            </div>

                            @Html.TextBoxFor(Model => Model.Telefono, null, new { @class = "form-control", placeholder = "Teléfono", required = "required" })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

                            @Html.TextAreaFor(Model => Model.Direccion, new { @class = "form-control", placeholder = "Dirección", required = "required" })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.Correo, new { @class = "form-control", placeholder = "Correo", required = "required", type = "email" })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(Model => Model.Contrasena, new { @class = "form-control", id = "Contrasena", placeholder = "Contraseña", type = "password", required = "required" })
                            @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })

                        </div>
                        <button type="submit" id="submit" class="boton-IS">Crear Cuenta</button>
                        <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Login/Index")'">Regresar</button>

                        <div class="col-md-9"></div>
                    </div>
                </div>
            </div>
        </div>
    }


</body>

</html>
